In [1]:
import numpy as np 
import pandas as pd

In [2]:
import os 
os.chdir('/Users/kimmh/Desktop/서데캠/')
os.getcwd()

'/Users/kimmh/Desktop/서데캠'

In [27]:
dt = pd.read_table('./data/TN_TR_OWT_CAR_REGIST.txt',sep='|')
dt = dt.apply(lambda x: x.str.strip('`'), axis = 1)
dt['`cnt`'] = pd.to_numeric(dt['`cnt`'])
dt.head()

,`regist_ym`,`fuel_knd_nm`,`vhcle_knd_ty`,`vhcle_prpos_se`,`cnt`,`ldadng_dt`
0,201710,휘발유,승용,비사업용,1581362,2018-07-25 13:09:37
1,201710,휘발유,승용,사업용,19134,2018-07-25 13:09:37
2,201710,휘발유,승합,비사업용,1060,2018-07-25 13:09:37
3,201710,휘발유,승합,사업용,48,2018-07-25 13:09:37
4,201710,휘발유,화물,비사업용,1716,2018-07-25 13:09:37

In [28]:
dt = dt.drop(['`ldadng_dt`'], axis=1)
dt.head()

  `regist_ym` `fuel_knd_nm` `vhcle_knd_ty` `vhcle_prpos_se`    `cnt`
0      201710           휘발유             승용             비사업용  1581362
1      201710           휘발유             승용              사업용    19134
2      201710           휘발유             승합             비사업용     1060
3      201710           휘발유             승합              사업용       48
4      201710           휘발유             화물             비사업용     1716

연료가 알코올인 차량이 다 0인가..?

In [29]:
dt[dt['`fuel_knd_nm`']=='알코올']['`cnt`'].value_counts()

0    528
Name: `cnt`, dtype: int64

Yes!  
제거하는 걸로

In [30]:
dt[dt['`fuel_knd_nm`']=='LNG']['`cnt`'].value_counts()

0    528
Name: `cnt`, dtype: int64

LNG도 하나도 없음

In [31]:
dt[dt['`fuel_knd_nm`']=='등유']['`cnt`'].value_counts()

0    527
1      1
Name: `cnt`, dtype: int64

등유는 단 하나..

In [32]:
dt[dt['`fuel_knd_nm`']=='하이브리드(LNG+전기)']['`cnt`'].value_counts()

0    528
Name: `cnt`, dtype: int64

In [33]:
dt[dt['`fuel_knd_nm`']=='태양열']['`cnt`'].value_counts()

0    495
2     19
1     14
Name: `cnt`, dtype: int64

In [34]:
idx = dt[ (dt['`fuel_knd_nm`']=='알코올') | 
         (dt['`fuel_knd_nm`']=='LNG') | 
         (dt['`fuel_knd_nm`']=='등유') |
         (dt['`fuel_knd_nm`']=='하이브리드(LNG+전기)') | 
         (dt['`fuel_knd_nm`']=='태양열')].index

# Delete these row indexes from dataFrame
dt.drop(idx , inplace=True)
dt['`fuel_knd_nm`'].value_counts()

경유               528
하이브리드(휘발유+전기)    528
휘발유              528
기타연료             528
하이브리드(LPG+전기)    528
하이브리드(경유+전기)     528
엘피지              528
전기               528
CNG              528
수소               528
하이브리드(CNG+전기)    528
Name: `fuel_knd_nm`, dtype: int64

In [35]:
dt.to_csv('TN_TR_OWT_CAR_REGIST_processed.txt', sep=',', index=False)

### 전처리하여 TN_TR_OWT_CAR_REGIST_processed.txt로 저장 완료, 구분자 ','

In [36]:
dt_2107 = dt[dt['`regist_ym`'] == '202107']
dt_new = dt_2107.reset_index(drop=True)
dt_new.head()

  `regist_ym` `fuel_knd_nm` `vhcle_knd_ty` `vhcle_prpos_se`    `cnt`
0      202107           휘발유             승용             비사업용  1620931
1      202107           휘발유             승용              사업용    21024
2      202107           휘발유             승합             비사업용     1087
3      202107           휘발유             승합              사업용       87
4      202107           휘발유             화물             비사업용     2603

In [37]:
dt_new.to_csv('TN_TR_OWT_CAR_REGIST_2107.txt', sep = ',', index = False)

### TN_TR_OWT_CAR_REGIST_2107.txt 로 저장 완료, 구분자 ','