In [1]:
import numpy as np 
import pandas as pd

In [2]:
import os 
os.chdir('/Users/kimmh/Desktop/서데캠/')
os.getcwd()

'/Users/kimmh/Desktop/서데캠'

In [3]:
dt = pd.read_table('./data/TN_TR_OWT_CAR_REGIST.txt',sep='|')
dt.head()

,`regist_ym`,`fuel_knd_nm`,`vhcle_knd_ty`,`vhcle_prpos_se`,`cnt`,`ldadng_dt`
0,`201710`,`휘발유`,`승용`,`비사업용`,`1581362`,`2018-07-25 13:09:37`
1,`201710`,`휘발유`,`승용`,`사업용`,`19134`,`2018-07-25 13:09:37`
2,`201710`,`휘발유`,`승합`,`비사업용`,`1060`,`2018-07-25 13:09:37`
3,`201710`,`휘발유`,`승합`,`사업용`,`48`,`2018-07-25 13:09:37`
4,`201710`,`휘발유`,`화물`,`비사업용`,`1716`,`2018-07-25 13:09:37`

In [4]:
dt = dt.apply(lambda x: x.str.strip('`'), axis = 1)

연료가 알코올인 차량이 다 0인가..?

In [5]:
dt[dt['`fuel_knd_nm`']=='알코올']['`cnt`'].value_counts()

0    528
Name: `cnt`, dtype: int64

Yes!  
제거하는 걸로

In [6]:
dt[dt['`fuel_knd_nm`']=='LNG']['`cnt`'].value_counts()

0    528
Name: `cnt`, dtype: int64

LNG도 하나도 없음

In [7]:
dt[dt['`fuel_knd_nm`']=='등유']['`cnt`'].value_counts()

0    527
1      1
Name: `cnt`, dtype: int64

등유는 단 하나..

In [8]:
idx = dt[ (dt['`fuel_knd_nm`']=='알코올') | 
         (dt['`fuel_knd_nm`']=='LNG') | 
         (dt['`fuel_knd_nm`']=='등유') ].index

# Delete these row indexes from dataFrame
dt.drop(idx , inplace=True)
dt['`fuel_knd_nm`'].value_counts()

하이브리드(LNG+전기)    528
기타연료             528
엘피지              528
CNG              528
하이브리드(휘발유+전기)    528
전기               528
휘발유              528
하이브리드(CNG+전기)    528
하이브리드(경유+전기)     528
경유               528
태양열              528
수소               528
하이브리드(LPG+전기)    528
Name: `fuel_knd_nm`, dtype: int64

In [9]:
dt_2107 = dt[dt['`regist_ym`'] == '202107']
dt_new = dt_2107.reset_index(drop=True)
dt_new.head()

,`regist_ym`,`fuel_knd_nm`,`vhcle_knd_ty`,`vhcle_prpos_se`,`cnt`,`ldadng_dt`
0,202107,휘발유,승용,비사업용,1620931,2021-08-20 11:57:31
1,202107,휘발유,승용,사업용,21024,2021-08-20 11:57:31
2,202107,휘발유,승합,비사업용,1087,2021-08-20 11:57:31
3,202107,휘발유,승합,사업용,87,2021-08-20 11:57:31
4,202107,휘발유,화물,비사업용,2603,2021-08-20 11:57:31

In [10]:
dt_new.to_csv('TN_TR_OWT_CAR_REGIST_2107.txt', sep = ',', index = False)

### TN_TR_OWT_CAR_REGIST_2107.txt 로 저장 완료, 구분자 ','